body {
    background-color: #d1e7e0;
    
}
.cover{
    height:400px;
    background-size: cover;
    background-position: center;

}
.cover-small{
    height:200px;
    background-blend-mode: normal;

}

.card-title {
    font-style:oblique;
min-height:3rem;
}

.card-text {
    font-family: 'Roboto Condensed', sans-serif;
min-height:10rem;
}

#eslogan {
    font-family: 'Nunito', sans-serif;
}

#body_picoto {
    background-color: #7a82ca;
}

#body_document {
    background-color: lavender;
}

#body_contact {
    background-color: bisque;
}
#navbar_principal {
    background-color: #89aae7;
}
#texto_cambiante {
    font-style: italic;
    text-align: center;
  }
#about {
    text-align: center;
    font-size: 10px;
}

